/* ----------LANDING COMPONENT---------- */

.destination-box {
    margin-top: 120px;
    height: fit-content;
  }
  
  .border-on .destination-box {
    border: blue solid;
  }
  
  .numbering {
    height: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #737373;
  }
  
  .border-on .numbering {
    border: hotpink solid;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 8px;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    top: 200px;
    /* text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff; */
  }




  .planet-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    user-select: none;
    font-size: 55px;

  }
  
  .moon b{
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #D9FFF2, 0 0 0.5em #D9FFF2, 0 0 0.1em #D9FFF2, 0 10px 3px #0f1013;
  }

  .mars b{
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FF4900, 0 0 0.5em #FF4900, 0 0 0.1em #FF4900, 0 10px 3px #0f1013;
  }

  .jupiter b{
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FFBD00, 0 0 0.5em #FFBD00, 0 0 0.1em #FFBD00, 0 10px 3px #0f1013;
  }

  .mercury b{
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #005EEE, 0 0 0.5em #005EEE, 0 0 0.1em #005EEE, 0 10px 3px #0f1013;
  }

  .venus b{
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FF59AC , 0 0 0.5em #FF59AC , 0 0 0.1em #FF59AC , 0 10px 3px #0f1013;
  }

  .planet-title b span{
    animation: blink linear infinite 2s;
  }
  .planet-title b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  




  
  .border-on .title {
    border: yellow solid;
  }
  
  #hero {
    height: 280px;
    width: auto;
  }
  
  .border-on #hero {
    border: pink solid;
  }
  
  /* #hero:hover {
    opacity: 0.3;
  }
   */

  .sub-heading {
    padding: 30px 0px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 9px;
    font-size: 14px;
  }
  
  .border-on .sub-heading {
    border: paleturquoise solid;
  }
  
  
  .positionBars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .border-on .positionBars {
    border: cyan solid;
  }
  
  .positionIndicator {
    height: 3px;
    width: 50px;
    background-color: #737373;
    margin: 35px 5px;
  }
  
  .positionIndicator.active,
  .positionIndicator:hover {
    background-color: #fff;
    cursor: pointer;
  }


    
  @media (min-width: 500px) {
    .planet-title {
    font-size: 19vh;
  }
    #hero {
      height: 450px;
    }
    .sub-heading {
      font-size: 18px;
    }
  }