/* ----------ABOUT COMPONENT---------- */

.about-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
  }
  
  .border-on .about-box {
    border: mediumslateblue solid;
  }
  
  .title-content-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .border-on .title-content-wrapper {
    border: violet solid;
  }
  
  .page-title {
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 50px;
  }
  
  .border-on .page-title {
    border: lightskyblue solid;
  }
  
  .about {
    font-family: "Roboto Slab", serif;
    color: #737373;
    text-align: left;
    line-height: 30px;
    letter-spacing: 2px;
  }
  
  .border-on .about {
    border: red solid;
  }
  
.particle-effect {
  width: 500px;
  height: 800px;
  margin-right: 30px;
}