/* ----------DESTINATIONS COMPONENTS---------- */

.wrap-all-planets {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
 
  
  .border-on .planet-name {
    border: plum solid;
  }
  
  .planet-subtitle {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin: 20px;
  }
  
  .border-on .planet-subtitle {
    border: lemonchiffon solid;
  }
  
.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .desc {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    text-align: left;
    color: #737373;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 20px;
    height: auto;
    width: 600px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .border-on .desc {
    border: springgreen solid;
  }
  
  .trivia {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin: 20px;
    align-content: center;
  }
  
  .border-on .trivia {
    border: tomato solid;
  }

.tourist-img {
  padding-top: 20px;
  width: 560px;
}

  .planetBars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 0;
  }
  
  .border-on .planetBars {
    border: cyan solid;
  }

  .selectPlanet {
    height: 3px;
    width: 50px;
    background-color: #737373;
    margin: 20px 5px;
  }
  
  .selectPlanet.active,
  .selectPlanet:hover {
    background-color: #fff;
    cursor: pointer;
  }


  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
} */



.planet-name {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(40px + 2vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    line-height: 62px;
    margin: 100px;
}

.moon-pn {
  text-shadow: 0 0 0.15em #D9FFF2;
}

.mars-pn {
  text-shadow: 0 0 0.15em #FF4900;
}

.jupiter-pn {
  text-shadow: 0 0 0.15em #FFBD00;
}

.mercury-pn {
  text-shadow: 0 0 0.15em #005EEE;
}

.venus-pn {
  text-shadow: 0 0 0.15em #FF59AC;
}

.planet-name span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.planet-name::before,
.planet-name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.planet-name::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.planet-name::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}