/* ----------HEADER COMPONENT---------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .logo {
    height: 25px;
    padding-left: 3%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
  .border-on .logo {
    border: cyan solid;
  }
  
  .account-box {
    align-items: center;
    height: fit-content;
    width: 150px;
    margin-top: 30px;
    text-decoration: none;
    top: 10;
  }
  
  .border-on .account-box {
    border: red solid;
  }
  
  .account-box > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .icon {
    height: 15px;
    margin-right: 10px;
    margin-bottom: 6px;
  }
  
  .account {
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  
  #hamburger {
    padding: 20px;
    position: fixed;
  }
  
  .border-on #hamburger {
    border: springgreen solid;
  }
  
  #hamburger:hover {
    cursor: pointer;
  }
  
  #nav-menu {
    height: 50px;
    padding: 30px;
    margin-top: 100px;
  }
  
  .border-on #nav-menu {
    border: rebeccapurple solid;
  }
  
  .links {
    padding: 20px 50px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .border-on .links {
    border: violet solid;
  }
  
  .links:hover {
    border-bottom: 5px #fff solid;
  }

  a {
    text-decoration: none;
  }