/* ----------HEADER COMPONENT---------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
  }

  .logo-link {
    height: 30px;
    margin: 30px;
    position: fixed;
    left: 0;
    top: 0;
  }
  .logo {
    height: 100%;
  }
  .border-on .logo-link {
    border: cyan solid;
  }
  
  .account-box {
    align-items: center;
    height: fit-content;
    margin-right: 16px;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  
  .border-on .account-box {
    border: red solid;
  }
  
  .account-box > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-content: center;
  }
  
  .icon {
    height: 15px;
    margin-right: 10px;
    margin-bottom: 6px;
  }
  
  .account {
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  
  #nav-menu,
  #mobile-nav-menu {
    padding: 20px;
    position: fixed;
    background: rgba(0,0,0,0.85);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3
  }
  
  .border-on #nav-menu {
    border: rebeccapurple solid;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(50vh - 30px);
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  .links::after {
    content: '';
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    width: 40px;
    position: absolute;
    height: 40px;
  }
  .links:hover::after {
    content: '';
    display: block;
    border-color: white;
  }
  .border-on .links {
    border: violet solid;
  }
  
  .links:hover {
    color: #fff;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }