.App {
  background-color: #0F1013;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* ----------HEADER COMPONENT---------- */

#header-container {
  border: deepskyblue solid;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.logo {
  height: 25px;
  padding-left: 3%;
  padding-top: 2%;
}

.account-box {
  border: purple solid;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
}

.icon {
  height: 20px;
  margin-left: 700px;
  margin-top: 30px;
}

.account {
  margin: 35px 5px;
font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

#hamburger {
  padding-right: 3%;
  padding-top: 2.2%;
}

.links {
  border: violet solid;
  padding: 20px 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.links:hover {
  border-bottom: 5px white solid;
}

#nav-menu {
  border: rebeccapurple solid;
  height: 50px;
  padding: 30px;
}

/* ----------LANDING COMPONENT---------- */

.destination-box {
  border: lightcoral solid;
  margin-top: 20px;
}

.numbering {
  border: springgreen solid;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #737373;
}

.title {
  border: yellow solid;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 150px;
  margin-bottom: -200px;
}

#hero {
  border: pink solid;
  height: 400px;
  width: auto;
}

.sub-heading {
  border: paleturquoise solid;
  padding: 30px 0px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 9px;
}

.navigation-btn {
  padding: 18px 60px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 4px;
  border: 2px solid white;
  background-color: #0F1013;
  opacity: 1;
}

.navigation-btn:hover {
  color: rgb(15, 16, 19);
  background-color: white;
  padding: 15px 50px; 
}


/* ----------ABOUT COMPONENT---------- */

.about {
  border: red solid;
  text-align: left;
  height: 500px;
  width: 300px;
}

#hero:hover {
  opacity: 0.3;
}

.about-page {
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
}

.wrapall {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.desc {
  height: 225px;
  width: 500px;
  border: lightgreen solid;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* ----------BOOKING---------- */

.booking-inputs {
  height: 500px;
  width: 100%;
  padding-top: 50px;
}

input {
  margin: 20px;
}




/* ----------BACKGROUND-SELECT COLOR---------- */

::selection {
  background: #0F1013; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0F1013; /* Gecko Browsers */
}





/* FONTS */

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */
