html {
  background-color: #0F1013;
}

.App {
  background-color: #0F1013;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
}


/* ----------HEADER COMPONENT---------- */


#header-container {
  border: deepskyblue solid;
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  height: 25px;
  padding-left: 3%;
  padding-top: 2%;
}

.account-box {
  border: red solid;
  height: 60px;
  width: 300px;
  margin-top: 20px;
  margin-left: 1000px;
  text-decoration: none;
}

.account-box > a {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.icon {
  height: 20px;
}

.account {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

#hamburger {
  border: springgreen solid;
  padding-right: 3%;
  padding-top: 2.2%;
}

#nav-menu {
  border: rebeccapurple solid;
  height: 50px;
  padding: 30px;
  margin-top: 100px;
}

.links {
  border: violet solid;
  padding: 20px 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.links:hover {
  border-bottom: 5px #fff solid;
}


/* ----------LANDING COMPONENT---------- */


.destination-box {
  border: lightcoral solid;
  margin-top: 20px;
}

.numbering {
  border: springgreen solid;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #737373;
}

.title {
  border: yellow solid;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 0;
}

#hero {
  border: pink solid;
  height: 400px;
  width: auto;
}

.sub-heading {
  border: paleturquoise solid;
  padding: 30px 0px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 9px;
}

/* .navigation-btn {
  padding: 18px 60px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 4px;
  border: 2px solid #fff;
  background-color: #0F1013;
  opacity: 1;
} */

/* .navigation-btn:hover {
  color: #0F1013;
  background-color: #fff;
  padding: 15px 50px; 
} */


.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0F1013;
  padding:  40px 0px;
  width: 240px;
}

.discover-btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.discover-btn:hover {
  text-decoration: none;
}

.effect01 {
  color: white;
  border: 4px solid white;
/*   box-shadow:0px 0px 0px 1px #000 inset; */
  background-color: 0F1013;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}


  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

.positionBars {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  margin: 30px 0px;
}

.positionIndicator {
  height: 3px;
  width: 50px;
  background-color: #737373;
  margin: 50px 5px;
}

.positionIndicator.active,
.positionIndicator:hover {
background-color: #fff;
}


/* ----------AUTHMODAL COMPONENT---------- */

.auth-title {
  font-size: 70px;
}

.login {
  border: salmon solid;
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

.register {
  border: yellow solid;
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}


/* ----------ABOUT COMPONENT---------- */


.venus{
  height: 400px;
  opacity: 0.9;
  margin-top: 50px;
  margin-right: 500px;
}
.page-title {
  font-size: 100px;
  letter-spacing: 4px;
}

.about {
  border: red solid;
  text-align: left;
  height: 400px;
  width: 400px;
  line-height: 30px;
  letter-spacing: 2px;
  padding: 30px;
}

#hero:hover {
  opacity: 0.3;
}

.about-page {
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
}

.wrapall {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.desc {
  height: 225px;
  width: 500px;
  border: lightgreen solid;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/* ----------BOOKING---------- */


.booking-inputs {
  border: slateblue solid ;
  height: 300px;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.departureSearchBox {
  border: aquamarine solid;
  margin-right: 10px;
}

.searchAirports {
  border: palevioletred solid;
  color: #FFF;
  background-color: #0F1013;
  height: 50px;
  width: 120px;
}

.departureAirportSelect {
  margin-top: 20px;
}

.trip-dates-wrapper {
  border: lightskyblue solid;
  height: 50px;
  width: 250px;
}

.trip-dates {
  border: purple solid;
  height: 20px;
  width: 100px;
}

.flight-times {
  border: yellow solid;
  height: 50px;
}

.passenger-number {
  border: tomato solid;
  height: 50px;
  width: 150px;
}

.book-trip {
  border: palegreen solid;
  color: #FFF;
  background-color: #0F1013;
  height: 50px;
  width: 120px;
}

input {
  margin: 20px;
}


/* ----------BACKGROUND-SELECT COLOR---------- */

::selection {
  background: #0F1013; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0F1013; /* Gecko Browsers */
}



/* FONTS */

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */
