html {
  background-color: #0f1013;
}

.App {
  background-color: #0f1013;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
}



.btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #0f1013;
}
/* 
.border-on .btn-container {
  border: red solid;
} */

.discover-btn {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.discover-btn:hover {
  text-decoration: none;
}

.effect01 {
  color: white;
  border: 4px solid white;
  /*   box-shadow:0px 0px 0px 1px #000 inset; */
  background-color: #0f1013;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
  color: #0f1013;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}



/* ----------BACKGROUND-SELECT COLOR---------- */

::selection {
  background: rgb(255, 255, 255); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(255, 255, 255); /* Gecko Browsers */
}

/* FONTS */

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */